<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVO: Geração de Cards com Fundo e Textos</title>
</head>
<body>
    <h1>Gere um card com sua foto e textos</h1>
    <form action="/card1" method="POST" enctype="multipart/form-data">
        Selecione o fundo: <select name="fundo">
            <option selected>fundo1.png</option>
            <option>fundo2.png</option>
            <option>fundo3.png</option>
            <option>fundo4.png</option>
        </select>
        <br/>
        Nome: <input type="text" name="nome" value="Fábio - Desenvolvedor">
        <br/>
        Cidade: <input type="text" name="cidade" value="Santo André">
        <br/>
        Título: <input type="text" name="titulo" value="postulante">
        <br/>
        Selecione uma foto: <input type="file" name="imagem">
        <br/>
        <input type="submit" value="Gerar Card">
    </form>
</body>
</html>